footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  background: #005b8a;
  text-align: center;
  padding: 0px;
  width: 100%;
}

footer btn {
  box-shadow: none;
  outline: none;
}

div .round {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: #fafafa;
  display: inline-flex;
  margin: 10px 1%;
}