.tool-box-wrapper {
    border: 1px solid #fff;
    height: 120px;
    border: 1px solid #000000
}


.tool {
    border: 1px solid rebeccapurple;
    height: 50px;
    margin: 10px;
    width: 100px;
    display: inline-block;
    border: 1px solid #000000;
}